@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

body {
    font-family: "Anton", sans-serif;
    color: #000;
}